$mainContant-padding: 90px;

.main-contant_container {
    padding-left: $mainContant-padding;
    padding-right: $mainContant-padding;
    margin-left: 135px;
    width: 1024px;
    height: 730px;
    background-color: black;
}
