$write-container_size: 880px;

.write-container {
    padding-top: 70px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 200px;
    width: $write-container_size;
    height: 1000px;
    word-break: break-all;
    background-color: white;

    .title-dropdown-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .catagory-container {
            width: 200px;
        }
    }

    .title-form {
        font-size: 24px;
    }

    .text-form {
        font-size: 20px;
    }

    .write-button {
        top: 100px;
        right: 90px;
        position: fixed;
    }
}
